@model Stipendium.Models.Stiftelse
@using Microsoft.AspNet.Identity;
@using System.Globalization;

@{
    ViewBag.Title = Model.Stiftelsenamn;
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<style>
    h5{
        font-size: 16px;
    }
</style>

<h3>@Html.DisplayFor(model => model.Stiftelsenamn)</h3>

<div>
    <hr />

    <h4>@Html.DisplayFor(model => model.Stiftelsenamn)</h4>
    <h5>@Html.DisplayFor(model => model.Adress)</h5>
    @if (Model.CoAdress != null)
    {
        <h5>@Html.DisplayFor(model => model.CoAdress)</h5>
    }
    <h5>@Html.DisplayFor(model => model.Postnr) @Html.DisplayFor(model => model.Postadress)</h5>
    <br />
    <h5>Org.Nr: @Html.DisplayFor(model => model.Orgnr)</h5>
    <br />
    <p>@Html.DisplayFor(model => model.Ändamål)</p>
    <br />
    <p>Förmögenhet: @double.Parse(Model.Förmögenhet).ToString("C0", new CultureInfo("sv-SE"))</p>


</div>
@if(User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}

<hr />

@{ Html.RenderAction("Create", "Comments", new { stiftID = Model.Id, userID = User.Identity.GetUserId() });}
<div id="comments-list-container">
    @{ Html.RenderAction("Index", "Comments", new { stiftID = Model.Id });}
</div>
<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
<script>
    function PostComment(id) {
        $.get("/Comments/PostComment?id=" + id + "&body=" + $("#Body").val(), function (Data) {

            $("#comments-list-container").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:inline-block; margin: 50%;"></span>');

            if (Data === "success") {
                $("#Body").val("");
                $("#comments-list-container").load("/Comments/Index?stiftID=@Model.Id");
            }
            else {
                $("#comment.submit").append('<span style="color:red">Something went wrong</span>');
            }
        });
    }
</script>
