@model Stipendium.Models.Stiftelse
@using Microsoft.AspNet.Identity;
@using System.Globalization;

@{
    ViewBag.Title = Model.Stiftelsenamn;
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<style>
    h5{
        font-size: 16px;
    }
</style>

<h3>@Html.DisplayFor(model => model.Stiftelsenamn)</h3>

<div>
    <hr />

    <h4>@Html.DisplayFor(model => model.Stiftelsenamn)</h4>
    <h5>@Html.DisplayFor(model => model.Adress)</h5>
    @if (Model.CoAdress != null)
    {
        <h5>@Html.DisplayFor(model => model.CoAdress)</h5>
    }
    <h5>@Html.DisplayFor(model => model.Postnr) @Html.DisplayFor(model => model.Postadress)</h5>
    <br />
    <h5>Org.Nr: @Html.DisplayFor(model => model.Orgnr)</h5>
    <br />
    <p>@Html.DisplayFor(model => model.Ändamål)</p>
    <br />
    <p>Förmögenhet: @double.Parse(Model.Förmögenhet).ToString("C0", new CultureInfo("sv-SE"))</p>


</div>

<p>
    <a href="#" data-toggle="modal" data-target="#contactModal">Se någonting fel?</a><span> | </span>
    @if (User.IsInRole("Admin"))
        {

            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>
                                                                
        }

            @Html.ActionLink("Backa till Listan", "Index")
</p>


<hr />

@{ Html.RenderAction("Create", "Comments", new { stiftID = Model.Id, userID = User.Identity.GetUserId() });}
<div id="comments-list-container">
    @{ Html.RenderAction("Index", "Comments", new { stiftID = Model.Id });}
</div>
<div style="padding:17px!important" class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="contactModalLabel" style="display:inline-block">Har du mer information?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Vi strävar alltid efter att hålla vår information på stiftelserna korrekta och aktuella. Om du är en del av ledningen för denna
                    stiftelsen och önskar att korrigera eller tillägga informationen på denna sidan, vänligen maila oss på:
                </p>
                <p>
                    <a href="mailto:admin@stiftelseverket.se">admin@@stiftelseverket.se</a>
                </p>
            </div>
            <div class="modal-footer" style="border-top:none">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function PostComment(id) {
        $.get("/Comments/PostComment?id=" + id + "&body=" + $("#Body").val(), function (Data) {

            $("#comments-list-container").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="display:inline-block; margin: 50%;"></span>');

            if (Data === "success") {
                $("#Body").val("");
                $("#comments-list-container").load("/Comments/Index?stiftID=@Model.Id");
            }
            else {
                $("#comment.submit").append('<span style="color:red">Something went wrong</span>');
            }
        });
    }
</script>
