@using Stipendium.Models
@{
    ViewBag.Title = "Index";
    ApplicationDbContext db = new ApplicationDbContext();
    var trendPeriod = DateTime.Now.AddDays(-14);
}

@section scripts{

    <script src="~/Scripts/StipendiumClient.js"></script>
}

<style>
    .col-md-4{

    }
    .col-md-3, .col-md-4 {
        padding: 0px;
        margin: 3px 10px;
    }
</style>

<h2>Index</h2>
<div class="row">
    <div class="panel panel-primary col-md-4">
        <div class="panel-heading">Stiftelses</div>
        <div class="panel-body">@db.Stiftelses.Count() in record 
        </div>
    </div>

    <div class="panel panel-primary col-md-3">
        <div class="panel-heading">Users</div>
        <div class="panel-body">@db.Users.Count() in record</div>
    </div>

    <div class="panel panel-primary col-md-3">
        <div class="panel-heading">SearchTerms</div>
        <div class="panel-body">
            <p>@db.SearchTerms.Count() in record</p>
            <span>@db.SearchTerms.Where(st=>st.LastSearched < trendPeriod).Count() terms no longer trending.</span>
            @Html.ActionLink("Clear?","DeleteNonTrending")
        </div>
    </div>

</div>

<div ng-app="StipendiumApp" ng-controller="StipendiumController">
    <div class="row">
        <div class="panel panel-primary col-md-4">
            <div class="panel-heading">Most Popular</div>
            <div class="panel-body">
                <div style="width:100%; padding:0px">
                    <div>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Views</th>
                            </tr>
                            <tr ng-repeat="r in stiftelse">
                                <td>#{{r.Id}}</td>
                                <td>{{r.Stiftelse.Stiftelsenamn}}</td>
                                <td>{{r.ViewCount}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">Inactive</div>
            <div class="panel-body">
                <div style="width:100%; padding:0px">
                    <div>
                        <table class="table">
                            <tr ng-repeat="r in users">
                                <td>{{r.Email}}</td>
                            </tr>
                            <tr>
                                <td><a href="/Admin/UserAccounts">Manage</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary col-md-3">
            <div class="panel-heading">Trending search terms</div>
            <div class="panel-body">
                <div style="width:100%; padding:0px">
                    <div>
                        <table class="table">
                            <tr ng-repeat="r in searches track by $index">
                                <td>#{{$index + 1}}</td>
                                <td>{{r.Term}}</td>
                                <td>{{r.TimesSearched}} times</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" >
        <div class="panel panel-primary col-md-4">
            <div class="panel-heading">{{recentUpdates.length}} recently updated</div>
            <div class="panel-body">
                <div style="width:100%; padding:0px">
                    <div>
                        <table class="table">
                            <tr ng-repeat="r in recentUpdates | limitTo: 10">
                                <td>{{r.Stiftelsenamn}}</td>
                                <td><a href="/Stiftelses/Details/{{r.Id}}">Go</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.ActionLink("See all","NewlyUpdated")
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
