@model Stipendium.Models.IndexViewModel
@using System.IdentityModel;
@{
    ViewBag.Title = "Kontoinställningar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Hantera din kontoinformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Account</dt>
        <dd>
            @if (User.IsInRole("Företag"))
            {
                @Html.ActionLink("Edit company information", "EditCompUser")
            }
            else
            {
                @Html.ActionLink("Kontrollera din kontouppgifter", "EditPrivUser")
            }
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Byta ditt lösenord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <br />
    @if (User.IsInRole("Företag"))
    {
        <br />

        <h4>Din stiftelse</h4>
        <div class="stiftelseContainer">
            @{Html.RenderAction("DetailsPartial", "Stiftelses", new { id = ViewBag.StiftelseID });}
        </div>
    }

</div>
<style>
    .stiftelseContainer {
        width:80%;
        margin:auto;
        padding: 0px 20px;
        background-color: aliceblue;
        border: 1px solid gainsboro;
    }

</style>
