@model Stipendium.Models.SearchQuery
@using Stipendium.Models
@using (Html.BeginForm("_Search", "Stipends"))
{
    @Html.AntiForgeryToken()

    var counties = new Counties();
    var index = 0;

    var selection = ViewData["Counties"];

    bool checkForCheckmarks = Model.SelectedCounties == null || Model.SelectedCounties.Count() == 21;

    string collapsed = checkForCheckmarks ? "collapse" : "collapse in";
    string allCheck = checkForCheckmarks ? "checked" : "";



    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <div style="display:  flex; justify-content: space-evenly;">
        <div>
            Län: <input type="checkbox" id="all-counties" @allCheck/> All / <a data-toggle="collapse" href="#collapseCounties" aria-expanded="false" aria-controls="collapseExample">
                Ändra
            </a>
        </div>
        <div class="form-group">
            Söktext @Html.EditorFor(model => model.SearchTerm)
        </div>
        <div>
            Kommun @Html.EditorFor(model=>model.SearchCommune)
        </div>
        <div>
            Träffar/sida: @Html.DropDownListFor(model=>model.ItemsPerPage, new SelectList( new List<int> {
                         5,
                         10,
                         15
                     }))
        </div>
        <div class="form-group">
            <input type="submit" value="Sök" class="btn btn-default" href="&c=12345" />
        </div>
    </div>

    <div class="@collapsed" id="collapseCounties" style="padding:20px">
        <div class="card card-body">
            <ul style="list-style: none">
                @foreach (var item in counties.List)
                {
                    string check = "";
                    if(Model.SelectedCounties!=null && Model.SelectedCounties.Contains(item))
                    { check = "checked"; }

                    <li style="display:inline-block; width:220px">@item <input type="checkbox" name="SelectedCounties[]" class="county-check" id="county-@index" value="@item" @check /></li>
                    index++;
                }
            </ul>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        if (checkboxCheck() === true) {
            $(".county-check").prop("checked", true);
        }
    });

    function checkboxCheck() {

        var checked = $("#all-counties").is(":checked");

        if (checked) {
            return true;
        }
        else {
            return false;
        }
    }

    $("#all-counties").change(function () {
        if (checkboxCheck() === true) {
            $(".county-check").prop("checked", true);
        }
        else {
            $(".county-check").prop("checked", false);
        }
    });

</script>