@model Stipendium.Models.Stipend

@{
    ViewBag.Title = Model.Title;
}

<h2>@Html.DisplayFor(model=>model.Title)</h2>

<div>
    <hr />
    
    <h3>@Html.DisplayFor(model=>model.Title)</h3>
    <h4>@Html.DisplayFor(model=>model.AddressLine1)</h4>
    @if(Model.AddressLine2!=null)
    {
        <h4>@Html.DisplayFor(model=>model.AddressLine2)</h4>
    }
    <h4>@Html.DisplayFor(model=>model.PostNr) @Html.DisplayFor(model=>model.Municipality)</h4>
    <br />
    <h4>Org.Nr: @Html.DisplayFor(model=>model.OrgNr)</h4>
    <br />
    <p>@Html.DisplayFor(model=>model.Description)</p>
    <br />
    <p>Förmögenhet: @Html.DisplayFor(model=>model.Capital).ToString("###,###") kr</p>

        
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
