@model Stipendium.Models.SearchQuery
@using PagedList.Mvc;
@using Stipendium.Models;

@{
    ViewBag.Title = "Stipendium";

    var counties = new Counties();
    int index = 0;
    bool checkForCheckmarks = Model.SelectedCounties == null || Model.SelectedCounties.Count() == 21;
    string collapsed = checkForCheckmarks ? "collapse" : "collapse in";
    string allCheck = checkForCheckmarks ? "checked" : "";

    string selectedCounties = "";
    if (Model.SelectedCounties != null)
    {
        foreach (var county in Model.SelectedCounties)
        {
            selectedCounties = selectedCounties == "" ? county : selectedCounties + "&" + county;
        }
    }
}
<style>
    .pagination {
        margin: 5px 0px;
    }

    th {
        min-width: 150px;
        color: #337ab7;
    }

    .form-control {
        width: unset;
        display: unset;
        background-color: ghostwhite;
    }

    .text-box {
        height: 32px;
        padding: 2px 8px;
    }

    input[type="checkbox"] {
        margin-top: 7px;
    }

    select {
        height: 32px;
    }
</style>

<script src="~/Scripts/jquery-3.3.1.js"></script>


<h2>Stipendium</h2>

<br />

@using (Html.BeginForm("SearchResults", "Stipends", FormMethod.Post, new { id = "StipendSearch" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Page)

    <div style="display:flex; justify-content: space-between;">
        <div class="form-group">
            Län: <input type="checkbox" id="all-counties" @allCheck /> All / <a id="countiesToggle" data-toggle="collapse" href="#collapseCounties" aria-expanded="false" aria-controls="collapseExample">Ändra <span id="glyph" class="glyphicon glyphicon-triangle-bottom"></span></a>
        </div>
        <div class="form-group">
            Söktext:  @Html.EditorFor(model => model.SearchTerm, new { htmlAttributes = new { placeholder = "Söktext", @class = "form-control" } })
        </div>
        <div class="form-group">
            Kommun:  @Html.EditorFor(model => model.SearchMunicipality, new { htmlAttributes = new { placeholder = "Kommun", @class = "form-control" } })
        </div>
        <div>
            Träffar/sida: @Html.DropDownListFor(model => model.ItemsPerPage, new SelectList(new List<int> {
  5,
  10,
  15
}), new { @class = "form-control" } )
        </div>
        <div class="form-group">
            <input type="submit" value="Sök" class="btn btn-default" style="width:75px; background-color: #337ab7; color: white; border: none;" />
        </div>
    </div>

    <div class="@collapsed" id="collapseCounties">
        <div class="card card-body" style="padding:10px 20px; background-color:ghostwhite; border: 1px solid gainsboro;">
            <ul style="list-style: none">
                @foreach (var item in counties.List)
                {
                    string check = "";
                    string underline = "";
                    if (Model.SelectedCounties != null && Model.SelectedCounties.Contains(item))
                    { check = "checked"; }
                    if (item.Contains("Stock") || item.Contains("Skå") || item.Contains("Värm") || item.Contains("Västerb"))
                    { underline = "text-decoration: underline;"; }

                    <li style="display:inline-block; width:20%; text-align:right; @underline">@item <input type="checkbox" name="SelectedCounties[]" class="county-check" id="county-@index" value="@item" @check /></li>
                    index++;
                }
            </ul>

        </div>
    </div>
}

<br />

<p>Total records: @Model.SearchResults.TotalItemCount</p>

<div class="pagination">
    @Html.PagedListPager(Model.SearchResults, page => Url.Action("NewPage", new { page = page, size = Model.SearchResults.PageSize, counties = selectedCounties, sTerm = Model.SearchTerm, sMunicip = Model.SearchMunicipality }))
</div>
<table class="table">
    <tr>
        <th>
            Siftelsenamn
        </th>
        <th>
            Ändamål
        </th>
        <th>
            Förmögenhet (SEK)
        </th>
        <th>

        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model.SearchResults)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.ID}, new { style = "color: #333; text-decoration: underline;" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Capital.ToString("#,#") kr
            </td>
            <td></td>
            @*<td >
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        if (checkboxCheck() === true) {
            $(".county-check").prop("checked", true);
        }


        $("#ItemsPerPage").val(@Model.ItemsPerPage);
        $("#Page").val(@Model.Page);
    });

    function checkboxCheck() {

        var checked = $("#all-counties").is(":checked");

        if (checked) {
            return true;
        }
        else {
            return false;
        }
    }

    $("#all-counties").change(function () {
        if (checkboxCheck() === true) {
            $(".county-check").prop("checked", true);
        }
        else {
            $(".county-check").prop("checked", false);
        }
    });

    $(function () {
        $('.pagination li a').click(function () {

            var url = this.href;
            var page = getParameterByName("page", url);

            $('#Page').val(page);
            $('#StipendSearch').submit();

            return false;
        });
    });

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    $("#countiesToggle").click(
        function () {
            $("#glyph").toggleClass("glyphicon-triangle-bottom glyphicon-triangle-left");
        }
    );

</script>


